body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFAFA!important;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(244, 146, 117,1);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(244, 146, 117,0.7);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-parent{
  background-color: rgba(244, 146, 117,1)!important;
}

/*f49d75*/
.display-card{
  display: flex!important;
  box-shadow: 0.5rem 0.5rem rgba(244, 210, 117,0)!important;
  border-radius:1rem!important;
  overflow:hidden!important;
  break-inside: avoid;
}

.display-card:hover{
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem rgba(244, 210, 117,1)!important;

}

.display-card-image{
  object-fit: cover!important;
}

.main-content{
  margin:1rem 2rem!important;
}

.all-columns{
  position:relative!important;
}

.all-columns .nasa-card-item{
  padding:0.5rem;
}


@media (min-width: 576px) {
  .card-columns {
    column-count: 2!important;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3!important;
  }
}

@media (min-width: 900px) {
  .card-columns {
    column-count: 4!important;
  }
}

@media (min-width: 1400px) {
  .card-columns {
    column-count: 5!important;
  }
}

.jumbo{
  width:60vw;
  margin:2rem auto;
}

.jumbo-image{
  width:50%!important;
  justify-content: center!important;
  align-content: center!important;
  height:fit-content!important;

}

.jumbo-description{
  justify-content: center!important;
  align-content: center!important;
  word-break: break-word ;
}

.animation{
  height: 40vh;
  width:auto;
  position: relative;
  margin:1rem auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

.animation img{
  position: absolute;
  top:0;
  width:30vw;
  height:auto;
  margin:1rem auto;
}

.animation-overlay{
  position: absolute;
  top:0;
  margin:1rem auto;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 30%;
  /*height:inherit;*/
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 3rem;
  text-align: center;
}

/*.animation:hover*/